<div class="auth-container">
<div class="font-auth"><h2></h2>Sign In∘</h2></div>
<br/>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "font-form"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "font-form" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="columns small-9">
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "float-right" %><br />
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "font-label" %>
    </div>
  <% end -%>


  <div class="actions">

      <%= f.submit "Log in", :class => 'submit'%>

  </div>
  <br/>
<% end %>

</div>
