<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <div class="cool">

   <body>

  <nav class="top-bar">
    <div class="top-bar-left">
          <h1><a class="title" href="/users/sign_in"><img src="https://i.imgur.com/Wgx8PAL.jpg" alt="logo" width="150" height="100"></a></h1>
    </div>

    <section class="top-bar-right">
      <ul class="menu">
        <%- if current_user -%>
        <li><%= link_to 'Home', postings_path, class: "font" %></li>

        <li><%= link_to current_user.name, user_path(current_user), class: "font" %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "font" %></li>

        <%- else -%>
          <div class="cool"
          <li><%= link_to 'Sign Up', new_user_registration_path, class: "font"%></li>
          </div>

          <li><%= link_to 'Sign In', new_user_session_path, class: "font" %></li>

        <%- end -%>
      </ul>
    </section>
  </nav>



  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
  </body>


</div>
  </html>
